[data-color-mode="dark"] .wmde-markdown{
    background-color: #111827 !important;
}

.wmde-markdown{
    background-color: #ffffff !important;
}

.wmde-markdown ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.wmde-markdown ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}
